
* {
    margin: 0;
    padding: 0;
  }
  
 
  .App {
    background-color: rgb(18, 124, 112);
    min-height: 100vh;
    position: relative;
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/helvetica-neu.ttf') format('ttf');
  }
  

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

  }

  .email {
    justify-content: space-around;
      gap: 2rem;
    display: flex;
    flex-direction: column;
     margin:9px;
    font-weight:bolder;
     font-size: larger;
    color:black;
     max-width:70vh;
     font-size: larger;
    

  }



