
* {
    margin: 0;
    padding: 0;
  }
  
 
  .App {
    background-color: rgb(18, 124, 112);
    min-height: 100vh;
    position: relative;
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/helvetica-neu.ttf') format('ttf');
  }
  

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

  }



